<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatGPT Clone</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen bg-gray-100">
<div class="flex h-full">
    <!-- Sidebar -->
    <section class="w-64 bg-gray-200 p-4">
        <div class="flex flex-col space-y-4">
            <div id="recent-message-list" class="font-bold text-lg">Recent</div>
        </div>
    </section>
    <!-- Main Content -->
    <main class="flex flex-col bg-white p-4 w-full max-w-full">
        <div id="response-container" class="flex-1 mb-4 p-4 h-full overflow-auto">
        </div>
        <div class="">
            <form id="chatForm"
                  class="w-full"
                  hx-post="/api/chat"
                  hx-swap="beforeend"
                  hx-target="#response-container"
                  hx-on="htmx:afterRequest: document.getElementById('message').value = '';">
                <div class="flex items-center bg-gray-200 rounded-full p-2 shadow-md">
                    <input id="message" name="message" class="bg-gray-200 outline-none text-gray-700 rounded-full py-2 px-4 w-full" type="text" placeholder="Message ChatGPT Clone">
                    <button type="submit" class="bg-gray-300 hover:bg-gray-400 text-gray-600 rounded-full p-2 ml-2">
                        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </main>
</div>
</body>